<ion-header>
</ion-header>

<ion-content>
  <ng-container *ngFor="let act of summary; let i = index">
    <ion-card
      *ngIf="act['duration']['hours'] != 0 && act['duration']['minutes'] != 0 && act['duration']['seconds'] != 0"
      (click)="showActivity(i)">
      <ion-card-header>
        <p>Am {{act['date'] | date:'dd.MM.y'}}</p>
      </ion-card-header>

      <div id="progressBar">
        <div id="progress" [style.width.%]="progress[i]"></div>
        {{progress[i]}}%
      </div>

      <ion-card-content>
        <div class="wrapper">
          <div class="inner">
            <ion-icon name="md-timer"></ion-icon>
            <ion-badge>{{act['duration']['hours']}}:{{act['duration']['minutes']}}:{{act['duration']['seconds']}}
            </ion-badge>
            <p>Dauer</p>
          </div>
          <div class="inner">
            <ion-icon name="md-flame"></ion-icon>
            <ion-badge>{{act['active-calories']}}</ion-badge>
            <p>Kalorien</p>
          </div>
          <div class="inner">
            <ion-icon name="md-walk"></ion-icon>
            <ion-badge>{{act['active-steps']}}</ion-badge>
            <p>Schritte</p>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </ng-container>

</ion-content>
