<ion-header>
</ion-header>

<ion-content>
  <div class="wrapper">
    <div class="half" style="background-color: #cf102f">
      <div class="imageContainer" *ngIf="user['gender']=='MALE'; else female">
        <img class="silhouette" src="assets/img/Silhouette_man.svg"/>
      </div>

      <ng-template #female>
        <img class="silhouette" src="assets/img/Silhouette_woman.svg"/>
      </ng-template>

      <div class="caption">
        190cm
      </div>
    </div>

    <div class="half" style="background-color: #009de1">
      <div class="imageContainer">
        <img id="scale" src="assets/img/medical.svg" height="40px"/>
      </div>
      <div class="caption">
        76kg
      </div>
    </div>
  </div>

  <div *ngIf="isPhysical; else noPhysical">
    <ion-item-divider>Puls und Ruhepuls</ion-item-divider>
    <canvas #heartRateCanvas></canvas>

    <ion-item-divider>Sauerstoff Aufnahme</ion-item-divider>
    <canvas #aerobCanvas></canvas>

    <ion-item-divider>Statur</ion-item-divider>
    <canvas #statureCanvas></canvas>
  </div>

  <ng-template #noPhysical>
    <ion-item-divider>Hier könnten Ihre physische Daten stehen</ion-item-divider>
    <div padding>Sie haben noch keine Daten synchronisiert.</div>
  </ng-template>
</ion-content>
